* {
    margin: 0;
    padding: 0;
}

.navigation {
    /* height: 74px; */
    margin-top: 23px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu', sans-serif;
}

.nav-left {
    display: flex;
}

.nav-left span {
    font-size: 30px;
}

.nav-left ul {
    display: flex;
    align-items: center;
    margin: 0 77px;
    font-size: 21px;
}

.nav-left ul li {
    list-style: none;
    margin: 0 14px;
    transition: all 0.3s ease-in-out;
}

.nav-left ul li a {
    text-decoration: none;
    color: black;
}

.nav-left ul li a:hover {
    color: var(--main-bg-color);
    font-weight: bolder;
}

.content {
    display: flex;
    height: 100%;
    /* background-color: rgb(218, 218, 233); */
    margin-top: 20px;
    padding: 9px;
    position: relative;
}

.content::after {
    content: "";
    background-image: url('../img/11.svg');
    position: absolute;
    width: 100%;
    height: inherit;
    opacity: 0.15;
    border-radius: 12px;
}

.content-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 37px;
    z-index: 1;
}

.content-left h1, p {
    padding: 5px;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-right img {
    height: 300px;
    border: 2px solid black;
    border-radius: 200px;
}

.home-articles {
    margin-top: 20px;
    padding: 15px;
    background-color: rgb(248, 239, 239, 0.5);
    position: relative;
}

.year-box {
    position: absolute;
    width: 213px;
    height: 225px;
    /* background-color: red; */
    left: 85%;
    top: 90px;
    font-size: 17px;
}

.year-box div {
    margin: 12px 0;
}

.home-article {
    display: flex;
    margin: 25px;
}

.home-article img {
    width: 277px;
}

.home-article-content {
    align-self: center;
    padding: 25px;
}

.home-article-content a {
    text-decoration: none;
    color: black;
}
.home-article-content h3, div {
    padding: 3px;
}

.footer {
    height: 50px;
    background-color: var(--main-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}