:root {
    --main-bg-color: #df9758;
}

.max-width-1 {
    max-width: 80vw;
}

.max-width-2 {
    max-width: 60vw;
}

.m-auto {
    margin: auto;
}

.mx-1 {
    margin-left: 23px;
    margin-right: 23px;
}

.my-2 {
    margin-top: 32px;
    margin-bottom: 32px;
}

.btn {
    padding: 6px 15px;
    border: 2px solid black;
    border-radius: 7px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    color: white;
    background: var(--main-bg-color);
}

.form-input {
    padding: 6px 5px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 4px;
    margin: 0 13px;
}
